<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class='menu-icon tf-icons bx bx-landscape'></i>
            <div data-i18n="Analytics">Tur Rotaları</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-message-dots'></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-cool'></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-mail-send'></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-male'></i>            
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-dna'></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-user-voice'></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-dna'></i>
            <div data-i18n="Analytics">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-calendar'></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-layout'></i>
            <div data-i18n="Analytics">Mail Bülteni</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-bookmark'></i>
            <div data-i18n="Analytics">Önce Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-key'></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-hide'></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bx-run'></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>
