@using DTOLayer.DTOs.AnnouncementDTOs
@model List<AnnouncementListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int c = 0;
}

<h1>Duyuru Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Detaylar</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
   {
        c+=1;
        <tr>
           <td>@c</td>
           <td>@item.Title</td>
           <td>@item.Content</td>
            <td><a href="/Admin/Announcement/@item.AnnouncementId" class="btn btn-info">Detaylar</a></td>
            <td><a href="/Admin/Announcement/UpdateAnnouncement/@item.AnnouncementId" class="btn btn-warning">Detaylar</a></td>
            <td><a href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementId" class="btn btn-danger">Sil</a></td>
       </tr>
   }
</table>
<a href="/Admin/Announcement/AddAnnouncement" class="btn btn-primary">Duyuru Ekle</a>