
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-info">Static Pdf Raporu</a>
<a href="/Admin/PdfReport/StaticCustomerfReport" class="btn btn-primary">Static Müşteri Pdf Raporu</a>