
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Rapor Sayfası</h1>

<a href="Admin/Excel/StaticExcelReport" class="btn btn-info">Statik Rapor</a>
<a href="Admin/Excel/GenericDynamicExcelReport" class="btn btn-warning">Generic Dinamik Rapor</a>
<a href="Admin/Excel/DestinationExcelReport" class="btn btn-success">Dinamik Rapor</a>
